<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>technologies</title>  
    {% load static %}  
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">  
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
    />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
</head>  
<body>  
    
    <div class="tm-main-container">
      <div class="tm-top-container">
        <!-- Menu -->
        <nav class="tm-nav">
      
          <ul class="tm-nav-links">
            <li class="tm-nav-item">
              <a href="/" data-align="right" class="tm-nav-link">About me</a>
            </li>
            <li class="tm-nav-item">
              <a href="/projects" data-align="right" class="tm-nav-link">Projects</a>
            </li>
            <li class="tm-nav-item active">
              <a href="/technologies" data-align="middle"class="tm-nav-link">Technologies</a>
            </li>
          
          </ul>
        </nav>

        <!-- Site header -->
          <div class="container personal">
            <div class="row">
              <div class="col">
                <img src="https://i.pinimg.com/originals/76/80/4f/76804f67ba38f85e4802d250e5b15504.jpg" class="rounded-circle" alt="Cinque Terre" width="304" height="236">
              </div>
              <div class="col align-self-center" style="margin-right: 10px;">
                <div class="row name">Nikolay</div>
                <div class="row name">Deyanov</div>
              </div>
            </div>
          </div>  
      </div>
      <!-- tm-top-container -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- Site content -->
            <div class="tm-content">
              <!-- Section 0 Introduction -->
              <section class="tm-section tm-section-0">
                <h2 class="tm-section-title mb-3 font-weight-bold">
                  Technologies
                </h2>
                <div class="tm-textbox tm-bg-dark">
                  <p>
                    The Card template is last updated on 21 May 2019. Read More button is linked to second page. You can try it now. External link button is added on main menu.
                  </p>
                  <p class="mb-0">
                    Please tell your friends about Tooplate for free templates. This is 70% alpha background.
                  </p>
                </div>
                
              </section>

              <!-- Section 1 About Me -->
              <!--<section class="tm-section tm-section-1">
                <div class="tm-textbox tm-textbox-2 tm-bg-dark">
                  <h2 class="tm-text-blue mb-4">About Me</h2>
                  <p class="mb-4">
                    You are allowed to modify and use this HTML template for
                    your personal or business websites.
                  </p>
                  <p class="mb-4">
                    You are NOT allowed to re-distribute this template file on
                    your site for any reason. Thank you.
                  </p>
                  <a
                    href="#"
                    id="tm_work_link"
                    data-linkid="2"
                    class="tm-link m-0"
                    >Next</a
                  >
                </div>
              </section> -->
            </div>
          </div>
        </div>
      </div>

      <!--<div class="tm-bottom-container">
        
        <div class="tm-barcode-box">
          <img src="img/bar-code.jpg" alt="Bar code" />
        </div>

        
        <footer>
          || Copyright &copy; 2018 Company Name || 
                  
        	Design: <a rel="nofollow" href="https://fb.com/tooplate">Tooplate</a> || 
        
        </footer>
      </div>
    -->
    </div>
</body>  
</html>  